# Date_range

*** if i want to add date with the range,, and want to exclude the holidays(using B, where B is Business Days) ***

In [12]:
import pandas as pd
df=pd.read_csv('HistoricalQuotes.csv',parse_dates=["Date"], index_col="Date")
df.head()

               Close     Volume      Open      High       Low
Date
2020-02-28   $273.36  106721200   $257.26   $278.41   $256.37
2020-02-27   $273.52   80151380    $281.1      $286   $272.96
2020-02-26   $292.65   49678430   $286.53   $297.88    $286.5
2020-02-25   $288.08   57668360   $300.95   $302.53   $286.13
2020-02-24   $298.18   55548830   $297.26   $304.18   $289.23

In [13]:
df1=pd.date_range(start="6/1/2010", end="6/30/2020", freq='B')
df1

DatetimeIndex(['2010-06-01', '2010-06-02', '2010-06-03', '2010-06-04',
               '2010-06-07', '2010-06-08', '2010-06-09', '2010-06-10',
               '2010-06-11', '2010-06-14',
               ...
               '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-22',
               '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26',
               '2020-06-29', '2020-06-30'],
              dtype='datetime64[ns]', length=2631, freq='B')