Simple Codes of multi div boolean

In [4]:
print('hello shristi')

hello shristi

In [5]:
a = 3+4
print(a)

7

In [3]:
x=2
y=20
print(x+y)

22

In [10]:
print(3*6)
print(18/9)         #float value
print(18//9)        # int value
print(2*2*2)
print(2**3)         #power rule

18
2.0
2
8
8

In [8]:
>>> bool(100)

True

In [7]:
>>> bool(2==4)

False

If elif statement

In [21]:
ai=input('Enter the age of a')
a=float(ai)      # should be on float oherwise doesnot work

if(a<10):
    print("children")
elif(a<20):
    print("teen")
elif(a<50):
    print("mature")
else:
    print("old")

mature

In [22]:

age = input('Enter your age:')

# convert the string to int
your_age = float(age)

# determine the ticket price
if your_age < 5:
    ticket_price = 5
elif your_age < 16:
    ticket_price = 10
else:
    ticket_price = 18

# show the ticket price
print(f"You'll pay ${ticket_price} for the ticket")

You'll pay $5 for the ticket

In [25]:
price=60
print(f"your price is${price} in cash")   # "f " is necessary to write

your price is$60 in cash

How to print the same name 100 times

In [30]:
print(10* ' heyyy')

 heyyy heyyy heyyy heyyy heyyy heyyy heyyy heyyy heyyy heyyy

while, for loop

In [41]:
a=''
b=[]
while a.lower()!='done':
    if a:
        b.append(a)        #append chai last ma kunai element halna use hunxa ra ya chai lastma is done lekhxam ta stop huxa
    a=input("enter new value or done when done")
    print(a)

done

In [43]:
cst=" "  #for variable to input
shristi=[] # for string to store
while cst.lower()!='done':
    shristi.append(cst)            #not necessary to use if statement
    cst=input("enter new value or done when done")
    print(cst)

aaaaaaaaa
bbbbbbb
done

In [19]:
# Create the variable for user input
user_input = ''
# Create the list to store the values
inputs = []

# The while loop
while user_input.lower() != 'done':
    # Check if there's a value in user_input
    if user_input:
        # Store the value in the list
        inputs.insert(5,user_input) #or you can use append
    # Prompt for a new value
    user_input = input('Enter a new value, or done when done')
    print(user_input)

eeeeeeeeeeeeeeeee
fffffffffffffffffff
done

In [40]:
n=0
while n<10:
    n+=2
    print(n)

2
4
6
8
10

In [4]:
name='shristichapagain'  # 0,1,2,3,4,5,6
name[1:]
name1='hellooooo'
name1[0:3]
name2='causee'
name2[-1]

'e'

In [8]:
num='23','54','23','78'
num1=[23,34,45,56,78]
num1[-2]
num1[3]

56

In [10]:
num=[23,34,45,56,67]
names=['shristu','chapagain','cst']
college=[num, names]
college

[[23, 34, 45, 56, 67], ['shristu', 'chapagain', 'cst']]

insert and append
insert add it in between
append added it on the end

In [15]:
num=[23,34,45,56]
num.insert(3,78)  # while inserting you need to set the position also like 4th position in the example(push doesnot work)
num

[23, 34, 45, 78, 56]

In [20]:
num1=[34,4,5,67,89]
num1.append(43)  #append just add it on the last

num1

[34, 4, 67, 89, 43]

In [23]:
num2=[22,34,4,5,5,6,7]
num2.pop(3) # why delete doesnot work, but pop works
num2

[22, 34, 4, 5, 6, 7]

In [26]:
num2=[22,34,4,5,35,6,7]
num2.remove(34) #remove ma direcly number delete garnaparxa naki kunai position
num2

[22, 4, 5, 35, 6, 7]

Lists, Tupple

list=[] update pop remove insert append
tupple=().......... count,index, 
you have list and dont want to change then use tupple

set(Hash) collection of unique element= {}
doesnot follow sequence
want to make sequence then sort the element
pop remove

inmutable
number/data={key:'value'}

In [28]:
num={1:'hospita',2:'clinik',3:'Die kirche'}  #set
#num[3]
num.get(2)

'clinik'

In [30]:
num=(23,34,45,56,67,77)  #tupple
#num[3]
num[2]

45

if you have no data then not found

In [31]:
num={1:'hospita',2:'clinik',3:'Die kirche'}  #set
#num[3]
num.get(4,'not found')

'not found'

making dictionary by lists

In [46]:
names=['shristi', 'ankita','prerana','anushka']
loves=['python','graphics design','research','dancing']
#dict(zip(names,loves))      #dict as a function #using zip to use combine and make dictionary
data=dict(zip(names,loves)) #using data as avariable so that we can use it while searching
#data['shristi']            #checking if shristi is available or not
#data['pawi']='networking' # adding on a new dictionary
#data=dict(zip(names,loves)) 
data

{'shristi': 'python',
 'ankita': 'graphics design',
 'prerana': 'research',
 'anushka': 'dancing'}

deleting data

In [49]:
names=['shristi', 'ankita','prerana','anushka']
loves=['python','graphics design','research','dancing']
#dict(zip(names,loves))      #dict as a function #using zip to use combine and make dictionary
data=dict(zip(names,loves)) 
del data['shristi']        # shristi deleted
data

{'ankita': 'graphics design', 'prerana': 'research', 'anushka': 'dancing'}

dictionary inside dictionary

In [64]:
data={'shristi':['dancing'],'ankita':['singing'],'prerana':['research', 'paint', 'sing'],'anushka':[{'dance':['contemporary'],'games':['football' 'chungi']}]}
#data['anushka'][1,1]     
data['prerana'][2]        #if you want only one outcome

'sing'

when you have different variable with same data then it'll point on the same address

DATA tYPES

In [68]:
#numeric, int,float,complex,boolean
a=3
type(a) #int

int

In [69]:
b=3.4
type(b)  #float

float

In [74]:
d=9
c=6.5+ 3/d       #complex
type(c)

float

In [77]:
n=d<c     #boolean
#type(n)
n

False

In [84]:
int(True)
#int(false)

1

In [78]:
#converting one integer into another integer
a=2.4   #converting float into int
int(a)

2

In [81]:
a= 18
float(a)   #int into float

18.0

string instaed of character

Range data types

In [86]:
#convering range into list
#range(0,9)
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [87]:
list(range(2,20,2))  #starting ending difference

[2, 4, 6, 8, 10, 12, 14, 16, 18]

arithmetic operator +-/*

assignment operator assign value in a,b,c

unary operator, (1), negation(-)

logical operator, AND OR NOT use this directly

relational a<b, shows relation

converting decimal into binary==bin()

binary directly convert into decimal

convertng to octal== oct()

for hexadecimal== hex() [x is for hexadecimal number]

In [91]:
#swap
a=10
b=25
temp=a
a=b
b=temp
print(a)
print(b)

25
10

In [93]:
a=10
b=25

a=a+b
b=a-b
a=a-b
print('a:', a)
print('b:',b)

a: 25
b: 10

Bitwise operator:
complement(~)
and(&)
or(|)
xor(^)
left shift(<<)
right shift(>>)

exercise yourself

In [96]:
#math function
import math
a=math.sqrt(25) #square root of 25
print(a) 
#floor and ceiling function

5.0